version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: monthly
    groups:
      actions-group:
        patterns:
          - '*'
  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: monthly
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: monthly
    groups:
      npm-group:
        patterns:
          - '*'
